@import '~@angular/material/_theming.scss';
@import './variables.scss';
@mixin font-stack {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
}

@mixin electron-sun-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
  .electron-sun {
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
}

@mixin breakpoint-xs-media {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin breakpoint-s-media {
  @media (min-width: #{$breakpoint-s}) and (max-width: #{$breakpoint-m - 1px}) {
    @content;
  }
}

@mixin breakpoint-m-media {
  @media (min-width: #{$breakpoint-m}) and (max-width: #{$breakpoint-l - 1px}) {
    @content;
  }
}

@mixin breakpoint-l-media {
  @media (min-width: #{$breakpoint-l}) and (max-width: #{$breakpoint-xl - 1px}) {
    @content;
  }
}

@mixin breakpoint-sidenavOpen-media {
  @media (min-width: #{1480px}) {
    @content;
  }
}

@mixin breakpoint-xl-media {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}
