@import '../../styles/variables.scss';
@mixin primary-header-theme ($theme) {
  $primary: map-get($theme, primary);
  app-primary-header>div {
    background-color: mat-color($primary);
  }
}

app-primary-header {
  .primary-header-wrapper {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    position: fixed;
    width: 100%;
    top: 0;
    left: $sidenav-width;
    display: flex;
    margin: 0;
    min-height: $header-height;
    .mat-display-1 {
      margin: 30px 30px;
    }
  }
}
