@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@mixin primary-header-theme ($theme) {
  $primary: map-get($theme, primary);
  app-primary-header>div {
    background-color: mat-color($primary);
  }
}

app-primary-header {
  .primary-header-wrapper {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    margin: 0;
    min-height: $header-height;
    height: $header-height;
    z-index: 2;
    border-bottom: 1px solid #3a3a3a;
    .mat-display-1 {
      margin: 30px 16px;
      @include breakpoint-sidenavOpen-media {
        padding-left: 200px;
      }
      @include breakpoint-xs-media {
        font-size: 34px;
      }
    }
    .header-spacer {
      @include breakpoint-sidenavOpen-media {
        visibility: hidden;
      }
      .sidenavToggleButton {
        width: $header-height;
        height: 100%;
      }
    }
  }
}
