<div style="
height:100px;
width:100px;
border-radius:50%;
background-color:red;
margin:0 auto 40px;
"></div>

<p>Facilis exercitationem pariatur nostrum iusto recusandae velit excepturi explicabo, aliquid autem minus illo ab illum, nam
    harum tempore earum asperiores, itaque error minima distinctio, ducimus deserunt eaque maxime suscipit. Ratione, repellat
    consectetur dignissimos voluptatem pariatur quae quo ut fugit. Tempora, incidunt expedita placeat odit sint natus sunt
    alias quam, debitis eveniet suscipit? </p>

<h1>List</h1>

<ul>
    <li></li>
    <li></li>
</ul>
