<div class="gallery-wrapper">
    <app-card *ngFor="let project of projects">
        <app-card-header>
            <div appCardSubtitle>
                {{project.type}}
            </div>
            <div appCardTitle>
                {{project.name}}
            </div>
        </app-card-header>
        <img appCardImage src="https://dibdab.github.io/portfolio/assets/images/sa-login.png" alt="Image of Project">
        <div appCardDescription>
            {{projects.description}}
        </div>
        <div appCardActions>
            <button md-button type="">Gallery</button>
        </div>
    </app-card>
</div>
