<div class="gallery-wrapper">
    <app-card *ngFor="let project of projects">
        <app-card-header>
            <div appCardSubtitle>
                {{project.type}}
            </div>
            <div appCardTitle>
                Project 1
            </div>
        </app-card-header>
        <img appCardImage src="https://dibdab.github.io/portfolio/assets/images/sa-login.png" alt="Image of Project">
        <div appCardDescription>
            Picure of first projext, unfortunately its locked down so can only provide images on this projectss. this projects was developed
            in Agular1 with a backend of .net web apis.
        </div>
        <div appCardActions>
            <button md-button type="">Gallery</button>
        </div>
    </app-card>
</div>
