<div class="gallery-wrapper">
    <app-card>
        <app-card-image></app-card-image>
    </app-card>
    <div class="card-component">
        <div class="card-component-header">
            <div class="card-component-subtitle">
                Full Website
            </div>
            <div class="card-component-title">
                Project 1
            </div>
        </div>
        <div class="card-component-body">
            <img class="card-component-image" src="..\..\assets\images\sa-login.png" alt="Image of Project">
            <div class="card-component-description">
                Picure of first projext, unfortunately its locked down so can only provide images on this projectss. this projects was developed
                in Agular1 with a backend of .net web apis.
            </div>
        </div>
        <div class="card-component-actions">
            <button md-button type="">Link</button>
            <button md-button type="">Sourecode</button>
            <button md-button type="">Gallery</button>
        </div>
    </div>
</div>
