<nav>
    <a routerLink="aboutme" routerLinkActive="active" md-button>
        <md-icon>face</md-icon> About Me
    </a>
    <a routerLink="projects" routerLinkActive="active" md-button>Projects</a>
    <a routerLink="blog" routerLinkActive="active" md-button>Blog</a>
    <a routerLink="contact" routerLinkActive="active" md-button>Contact</a>
    <div class="flex-spacer"></div>
    <a href="https://github.com/dibdab/portfolio" md-button>
        <md-icon fontSet="fontawesome" fontIcon="fa-github"></md-icon>Github</a>
</nav>
