@mixin navbar-theme ($theme) {
  $primary: map-get($theme, primary);
  app-navbar>nav {
    background-color: mat-color($primary);
  }
}

.topnav {
  display: flex;
  padding: 8px 16px;
  text-transform: uppercase;
  a {
    &:last-child {
      margin-left: auto;
    }
  }
}
