@import 'styles/mixins.scss';
@import 'styles/variables.scss';
.app-content {
  padding-top: $header-height;
  padding-left: $sidenav-width;
}

.doc-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: block;
  padding-top: 40px;
}
