@import 'styles/mixins';
.viewer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.doc-wrapper {
    padding: 20px 70px;
    display: block;
}

.doc-viewer {
    margin: 0 auto;
}

router-outlet {
    max-width: 940px;
}