@import '../../styles/mixins';
@import '../../styles/variables';
@mixin sidenav-theme ($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $text: map-get($foreground, text);
  $divider: map-get($foreground, divider);
  .sidenav {
    background-color: mat-color($accent);
    color: $text;
  }
  .header-spacer {
    border-bottom: $divider solid 1px;
  }
}

.sidenav {
  min-width: $sidenav-width;
  max-width: $sidenav-width;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  nav {
    height: 90%;
    padding: 8px 16px;
    display: flex;
    flex-flow: column wrap;
    text-transform: uppercase;
    align-items: flex-start;
    position: relative;
    a {
      margin: 2px 0;
      text-align: left;
    }
  }
  .header-spacer {
    height: 7.5%;
    position: relative;
    button {
      padding: 20px 0;
      width: 100%;
      md-icon {
        font-size: 40px;
      }
    }
  }
}
