@import '../../styles/mixins';
@import '../../styles/variables';
@mixin sidenav-theme ($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  .sidenav {
    background-color: mat-color($accent);
    .header-spacer {
      background-color: mat-color($primary);
    }
  }
}

.sidenav {
  min-width: $sidenav-width;
  max-width: $sidenav-width;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  nav {
    height: 90%;
    padding: 8px 16px;
    display: flex;
    flex-flow: column wrap;
    text-transform: uppercase;
    align-items: flex-start;
    position: relative;
    a {
      text-align: left;
    }
  }
  .header-spacer {
    height: 7.5%;
    border: 1px solid black;
    position: relative;
    button {
      padding: 20px 0;
      width: 100%;
      md-icon {
        font-size: 40px;
      }
    }
  }
}
