@import '../../styles/mixins';
@import '../../styles/variables';
@mixin sidenav-theme ($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $text: map-get($foreground, text);
  $divider: map-get($foreground, divider);
  $selected-button: map-get($background, selected-button);
  $background-colour: map-get($background, background);
  .sidenav {
    background-color: $background-colour;
    color: $text;
    border-right: 1px solid $divider;
    nav {
      a {
        &:hover {
          color: mat-color($accent);
        }
      }
      .active {
        background-color: $selected-button;
        color: $text;
        font-weight: bold;
      }
    }
  }
  .header-spacer {
    border-bottom: 1px solid $divider;
  }
}

.sidenav {
  transition: $theme-change-transistion;
  min-width: $sidenav-width;
  max-width: $sidenav-width;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  nav {
    height: 90%;
    padding: 8px 16px;
    display: flex;
    flex-flow: column wrap;
    text-transform: uppercase;
    align-items: flex-start;
    position: relative;
    a {
      margin: 2px 0;
      text-align: left;
    }
  }
  .header-spacer {
    height: 7.5%;
    position: relative;
    button {
      padding: 20px 0;
      width: 100%;
      md-icon {
        font-size: 40px;
      }
    }
  }
}

.active {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .12) inset;
  transform: translate3d(0, 0, 0);
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}
