<div class="sidenav" #sidenav [@sidenavState]="sidenavState">
    <div class="sidenav-header">
    </div>
    <nav>
        <a routerLink="aboutme" routerLinkActive="active" md-button>
            About Me <md-icon>face</md-icon>
        </a>
        <a routerLink="projects" routerLinkActive="active" md-button>Projects</a>
        <a routerLink="blog" routerLinkActive="active" md-button>Blog</a>
        <a routerLink="contact" routerLinkActive="active" md-button>Contact</a>
        <div class="flex-spacer"></div>
        <a href="https://github.com/dibdab" md-button>
            Github <md-icon aria-label="hidden" fontSet="fontawesome" fontIcon="fa-github"></md-icon>
        </a>
    </nav>
    <div class="sidenav-footer">
        <label class="app-switch no-select" aria-label="hidden">
            <md-icon fontSet="fontawesome" fontIcon="fa-sun-o" aria-label="hidden"></md-icon>
            <input (change)="themeToggle.emit(this.isActiveThemeDark);" [(ngModel)]="isActiveThemeDark" class="app-switch-input no-select" type="checkbox">
            <span class="app-switch-slider no-select">
                <span md-ripple [mdRippleCentered]="true" [mdRippleUnbounded]="true" class="switch-thumb no-select"></span>
            </span>
            <md-icon fontSet="fontawesome" fontIcon="fa-moon-o" aria-label="hidden"></md-icon>
        </label>
    </div>
</div>
