//AOT compiation so all paths need to be relative and match file name and file extenstion exactly
@import 'app/styles/variables.scss';
@import 'app/styles/mixins.scss';
@import '~font-awesome/scss/font-awesome.scss';
@import 'app/styles/_themes.scss';
body {
  @include font-stack;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.fa {
  font-size: 24px;
}

[hidden] {
  display: none !important;
}

.flex-spacer {
  flex: auto;
}
