//AOT compiation so all paths need to be relative and match file name and file extenstion exactly
@import 'app/styles/variables';
@import 'app/styles/mixins';
@import '~font-awesome/scss/font-awesome';
@import 'app/styles/electron-sun-theme';
body {
  @include font-stack;
  margin: 0;
  padding-top: 172px;
}

.fa {
  font-size: 24px;
}
